.gradienteMenu {
  background: rgb(11, 182, 204);
  background: linear-gradient(
    90deg,
    rgb(42, 172, 91) 0%,
    rgb(5, 96, 114) 100%
  );
}

.text-justify {
  text-align: justify;
}
.recuo { text-indent:4em }